<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>智能一点</title>
    <meta name="description" content="智能一点官网" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script>
        //var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1274159880'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274159880%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios|iPad)/i)) {
            location.href = 'http://www.abitai.com/mabitai/home.html';
        }

    </script>

</head>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1274159880'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274159880' type='text/javascript'%3E%3C/script%3E"));</script>

<body>
    <header class="g-hd container-fluid mixin-bg-white" style="background-color:white">
        <nav class="g-hd-container">
            <div class="col-sm-2 logo-box" style="padding: 12.5px 80px;">
                <img width="150px" height="34px" id="logo_c" src="./../img/logo_c.png" alt="">
            </div>
            <ul class="col-sm-7 col-sm-offset-3">
                <li class="li_active_mixin topLinkBox" style="display: inline-block;">
                    <a href="#product" class="topLink">智能产品</a>
                    <span class="active_nav_line"></span>
                </li>
                <li class="topLinkBox" style="display: inline-block;">
                    <a href="#team" class="topLink">团队介绍</a>
                    <span class="active_nav_line"></span>
                </li>
                <li class="topLinkBox" style="display: inline-block;">
                    <a href="#touch-ai" class="topLink">Touch AI 人才计划</a>
                    <span class="active_nav_line"></span>
                </li>
                <li class="topLinkBox" style="display: inline-block;">
                    <a href="#media" class="topLink">媒体报道</a>
                    <span class="active_nav_line"></span>
                </li>
                <li class="topLinkBox" style="display: inline-block;">
                    <a href="#connection" class="topLink">联系我们</a>
                    <span class="active_nav_line"></span>
                </li>
            </ul>
        </nav>
    </header>
    <section class="QR_code ss-hide">
        <div>
            
        </div>
    </section>
    <section class="to_t_b_box">
        <a id="show_QR" class="topLink toTop"></a>
        <!-- <a href="#product" class="topLink toTop"></a> -->
        <div class="place_h"></div>
        <a href="#connection" class="topLink toBottom"></a>
    </section>
    <section class="demo_play_box" style="display: none;">
        <div class="close_play">关闭</div>
        <div class="demo_play"></div>
    </section>
    <div class="g-bd container-fluid" style="padding:0">
        <div class="g-bd-container">
            <section id="product" class="col-xs-12 box" style="padding:0">
                <div class="top-placeholder"></div>
                <div class="swiper-top">
                    <div class="swiper-wrapper">
                        <!-- <div class="swiper-slide"> -->
                        <section class="header-box">
                            <img width="100%" src="./../img/index_bg.png" alt="">
                            <div class="content-hd">
                                <h1>让您的服务智能一点</h1>
                                <span class="v_title">专注于智能导购的AI公司</span>
                                <span class="product_demo_btn_box">
                                    <span class="product_demo_btn"></span>
                                </span>
                            </div>
                        </section>
                        <!-- </div> -->
                        <!-- <div class="swiper-slide">
              <a class="header-box" href="http://www.huodongxing.com/event/7441579099800" target="_black">
                <img width="100%" id="fabuhui_link" src="./../img/index_bg33.jpg" alt="">
              </a>
            </div> -->
                    </div>
                </div>
                <div class="content-bd">
                    <section class="scene-box all-section">
                        <div class="scene">
                            <h3 class="easy-in-box">智能交互推荐系统三大应用场景 </h3>
                            <span class="blue-line"></span>
                            <div class="scene-body easy-in-box">
                                <div class="scene-cell">
                                    <div class="img-outer-box">
                                        <span class="top-img-box top-img-box-1">
                                        </span>
                                    </div>
                                    <h4 class="scene-name">
                                        智能导购
                                    </h4>
                                    <span class="scene-des">
                                        <span>个性化交互精准推荐</span>
                                        <span>人机协同无缝衔接</span>
                                        <span>询单转化率提升15%+</span>
                                    </span>
                                </div>
                                <div class="scene-cell scene-cell-mid">
                                    <div class="img-outer-box">
                                        <span class="top-img-box  top-img-box-2">
                                        </span>
                                    </div>
                                    <h4 class="scene-name">
                                        智能客服
                                    </h4>
                                    <span class="scene-des">
                                        <span>快速构建知识图谱</span>
                                        <span>意图识别率85%+、回复准确率97%+</span>
                                        <span>让每个客户都体验金牌服务</span>
                                    </span>
                                </div>
                                <div class="scene-cell">
                                    <div class="img-outer-box">
                                        <span class="top-img-box  top-img-box-3">
                                        </span>
                                    </div>
                                    <h4 class="scene-name">
                                        智能助理
                                    </h4>
                                    <span class="scene-des">
                                        <span>基于对话完成用户任务</span>
                                        <span>主动发起关怀问候和动态提醒</span>
                                        <span>内容和服务的个性化推荐</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="core-box all-section">
                        <div class="core-video-box-masking">
                        </div>
                        <div class="core">
                            <h3 class="easy-in-box">智能交互推荐系统核心技术</h3>
                            <div class="core-body  easy-in-box">
                                <div class="core-cell">
                                    <h4>意图识别引擎</h4>
                                    <span>自然语言处理技术 + 逻辑处理模块</span>
                                </div>
                                <div class="core-cell core-cell-mid">
                                    <h4>语义计算引擎</h4>
                                    <span>语义相似度计算 + 场景分析模块</span>
                                </div>
                                <div class="core-cell">
                                    <h4>个性化推荐引擎</h4>
                                    <span>用户画像 + 群体标签 + 主动推荐模块</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="module-box all-section">
                        <div class="module">
                            <h3 class="easy-in-box">智能交互推荐系统五大运行模块 </h3>
                            <span class="blue-line"></span>
                            <div class="six-line-box easy-in-box">
                                <div id="boxF-1" class="boxF-box">
                                    <div class="boxF">
                                        <div class="icon icon-1">
                                        </div>
                                        <h4>自然语言处理</h4>
                                        <div>
                                            <span>
                                                强大的多意图
                                            </span>
                                            <span>
                                                识别引擎
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div id="boxF-2" class="boxF-box">
                                    <div class="boxF">
                                        <div class="icon icon-2">
                                        </div>
                                        <h4>多轮对话管理</h4>
                                        <div>
                                            <span>
                                                基于上下文的
                                            </span>
                                            <span>
                                                深度解析
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div id="boxF-3" class="boxF-box">
                                    <div class="boxF">
                                        <div class="icon icon-3">
                                        </div>
                                        <h4>交互流程设计</h4>
                                        <div>
                                            <span>
                                                运营人员
                                            </span>
                                            <span>
                                                可轻松掌控
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div id="boxF-4" class="boxF-box">
                                    <div class="boxF">
                                        <div class="boxF">
                                            <div class="icon icon-4">
                                            </div>
                                            <h4>用户画像生成</h4>
                                            <div>
                                                <span>
                                                    通过对话
                                                </span>
                                                <span>
                                                    自动生成标签
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="boxF-5" class="boxF-box">
                                    <div class="boxF">
                                        <div class="boxF">
                                            <div class="icon icon-5">
                                            </div>
                                            <h4>运营数据分析</h4>
                                            <div>
                                                <span>
                                                    营销效果
                                                </span>
                                                <span>
                                                    可视化配置
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="aspirations-box" style="display:none">
                        <div class="aspirations">
                            <h3 class="easy-in-box">应用客户心声</h3>
                            <span class="blue-line"></span>
                            <div class="col-sm-10 col-sm-offset-1 aspir-body easy-in-box">
                                <div class="photo-box col-sm-2">
                                </div>
                                <div class="aspir-content col-sm-8 col-sm-offset-1">
                                    <div class="name">李成文</div>
                                    <div class="position">电商客服</div>
                                    <div class="content">
                                        “智点的智能客服帮我节省了大量重复沟通的时间，缓解了高峰时段排队等待的压力，也让我们能服务更多的消费者，回应他们更复杂的需求。”
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-10 col-sm-offset-1 aspir-body easy-in-box">
                                <div class="aspir-content col-sm-8">
                                    <div class="name">李成文</div>
                                    <div class="position">电商客服</div>
                                    <div class="content">
                                        “智点的智能客服帮我节省了大量重复沟通的时间，缓解了高峰时段排队等待的压力，也让我们能服务更多的消费者，回应他们更复杂的需求。”
                                    </div>
                                </div>
                                <div class="photo-box col-sm-2  col-sm-offset-1">
                                </div>
                            </div>
                            <div class="col-sm-10 col-sm-offset-1 aspir-body easy-in-box">
                                <div class="photo-box col-sm-2">
                                </div>
                                <div class="aspir-content col-sm-8 col-sm-offset-1">
                                    <div class="name">李成文</div>
                                    <div class="position">电商客服</div>
                                    <div class="content">
                                        “智点的智能客服帮我节省了大量重复沟通的时间，缓解了高峰时段排队等待的压力，也让我们能服务更多的消费者，回应他们更复杂的需求。”
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="support-box all-section">
                        <div class="support-box-mask easy-in-box">
                        </div>
                        <div class="support">
                            <h3 class="easy-in-box">关于我们</h3>
                            <div class="support-content easy-in-box">
                                <div class="circle_cell_1">
                                    <div class="container">
                                        <div class="dot"></div>
                                        <div class="pulse"></div>
                                        <div class="pulse1"></div>
                                    </div>
                                </div>
                                <div class="circle_cell_2">
                                    <div class="container">
                                        <div class="dot"></div>
                                        <div class="pulse"></div>
                                        <div class="pulse1"></div>
                                    </div>
                                </div>
                                <div class="circle_cell_3">
                                    <div class="container">
                                        <div class="dot"></div>
                                        <div class="pulse"></div>
                                        <div class="pulse1"></div>
                                    </div>
                                </div>
                                <div class="circle_cell_4">
                                    <div class="container">
                                        <div class="dot"></div>
                                        <div class="pulse"></div>
                                        <div class="pulse1"></div>
                                    </div>
                                </div>
                                <div class="circle_cell_5">
                                    <div class="container">
                                        <div class="dot"></div>
                                        <div class="pulse"></div>
                                        <div class="pulse1"></div>
                                    </div>
                                </div>
                                <div class="circle_cell_6">
                                    <div class="container">
                                        <div class="dot"></div>
                                        <div class="pulse"></div>
                                        <div class="pulse1"></div>
                                    </div>
                                </div>
                                <p>北京智能一点科技有限公司是一家专注于智能导购的AI公司，其自主研发的萝卜塔（ROBOTA）智能交互推荐系统，是业内基于自然语言交互和个性化推荐技术搭建的对话式营销AI服务平台。该系统主要通过SaaS模式服务垂直领域企业，通过机器自主学习和人机协同的方式，以基于用户意图的对话模型，结合行业知识图谱，提高售前导购的转化和复购，帮助企业以低门槛、高效率、个性化的方式，建立与消费者的深层次互动。</p>
                                <p class="two-p">核心管理层主要来自前阿里、微软、惠普等一线互联网公司及世界知名IT企业，创始人曾负责阿里妈妈算法团队，助力核心业务线每日亿级流量变现。整个团队在人工智能、大数据和移动互联网方面拥有强大的技术背景和商业运营能力，公司近七成以上为技术研发人员，目前产品已落地母婴、出行、餐饮、家电等行业。迄今已获得洪泰资本、青松资本等知名金融机构的投资。</p>
                            </div>
                        </div>
                    </section>
                    <section class="timeline-box all-section"></section>
                </div>
                <div class="content-ft ">

                </div>
            </section>
            <section id="team" class="col-xs-12 box">
                <h3 class="easy-in-box">核心团队</h3>
                <span class="blue-line"></span>
                <div class="team-body easy-in-box">
                    <div class="swiper-container">
                        <div class="autoplay swiper-wrapper">
                            <div class="team-cell swiper-slide">
                                <div class="img team-cell-hu"></div>
                                <div class="name">
                                    胡云华
                                </div>
                                <div class="position">
                                    CEO
                                </div>
                                <div class="intro">
                                    西安交通大学博士，历任微软亚洲研究院副研究员，阿里集团阿里妈妈事业部算法团队主管，一直从事搜索，数据挖掘，个性化推荐工作。
                                </div>
                            </div>
                            <div class="team-cell swiper-slide">
                                <div class="img team-cell-zheng"></div>
                                <div class="name">
                                    郑俊成
                                </div>
                                <div class="position">
                                    COO
                                </div>
                                <div class="intro">
                                    北京邮电大学硕士，历任惠普公司系统工程师，合力思腾公司软件开发部总监·总经理助理，连续创业者，曾创立学知网、华信安恒、实战帮任CEO。
                                </div>
                            </div>
                            <div class="team-cell swiper-slide">
                                <div class="img team-cell-gao"></div>
                                <div class="name">
                                    高鹏
                                </div>
                                <div class="position">
                                    CMO
                                </div>
                                <div class="intro">
                                    对外经济贸易大学学士，2002年进入中国国际广播电台（CRI），历任英闻天下网副主任，英语中心事业发展部副主任，英文中华网制作人。
                                </div>
                            </div>
                            <div class="team-cell swiper-slide">
                                <div class="img team-cell-mo"></div>
                                <div class="name">
                                    莫瑜
                                </div>
                                <div class="position">
                                    CTO
                                </div>
                                <div class="intro">
                                    中山大学硕士，曾任职于微软搜索技术中心，海豚浏览器。先后从事搜索引擎技术研发，自然语言处理，音乐搜索和哼唱搜索技术等工作。畅销书《编程之美》作者之一。
                                </div>
                            </div>
                            <div class="team-cell swiper-slide">
                                <div class="img team-cell-cai"></div>
                                <div class="name">
                                    蔡文志
                                </div>
                                <div class="position">
                                    技术VP
                                </div>
                                <div class="intro">
                                    中山大学硕士，历任微软亚洲工程院开发工程师，阿里云高级专家。先后从事ExchangeServer研发，阿里云的大规模分布式文件系统，调度系统的研发工作。
                                </div>
                            </div>
                            <div class="team-cell swiper-slide">
                                <div class="img team-cell-chen"></div>
                                <div class="name">
                                    尚秋梦
                                </div>
                                <div class="position">
                                    战略VP
                                </div>
                                <div class="intro">
                                    北京工商大学学士，历任友盟商务总监，兑吧商务副总裁。参与阿里妈妈 all in 无线的推广及游戏独立品牌 KTplay的早期开拓。深度经历多个企业服务市场项目及从0到1的早期扩张。
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="swiper-button-prev swiper-button-black"></div>
                    <div class="swiper-button-next swiper-button-black"></div>
                </div>
            </section>
            <section id="company" class="col-xs-12 box">
                <h3 class="easy-in-box">我们的团队</h3>
                <span class="blue-line"></span>
                <div class="company-body  easy-in-box">
                    <div class="company-left">
                        <div class="company-left-top">
                            <div class="company-left-top-img">
                            </div>
                        </div>
                        <div class="company-left-bottom">
                            <div class="company-left-l">
                                <div class="company-left-des">
                                    <span>智能一点管理层</span>
                                </div>
                            </div>
                            <div class="company-left-r">
                                <div class="company-left-des">
                                    <span>智能一点坝上游</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company-right">
                        <div class="company-mid-img">
                        </div>
                    </div>
                    <p>
                        <span>在这里，你将拥有宽松、愉悦、平等的工作环境，你将收获友爱、尊重、温暖的创业伙伴，更重要</span>
                        <span>的是，你有可能实现自己最大的价值。</span>
                        <span>所以加入我们吧，成就你的人生！</span>
                    </p>
                </div>
            </section>
            <section id="touch-ai" class="col-sm-12 box easy-in-box">
                <div class="touch-ai-body">
                    <div class="img-box">
                    </div>
                    <div class="touchai-info">
                        <h3>Touch AI</h3>
                        <h3>人才培养计划</h3>
                        <div class="touchai-info-body">
                            智能一点科技联合北大、清华、中科院知名教授发起 “ Touch AI ” 人才培养计划，让有意向从事算法工作的技术人才获得全面的培养，通过工作中的项目实践 + 定期学习分享交流的形式帮助新人搭上通往算法工程师的直通车。
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section id="join-us" class="col-sm-12 box">
                <div class="join-us-body">
                    <h3 class="easy-in-box">公司招聘</h3>
                    <span class="blue-line"></span>
                    <div id="jobBox"></div>
                    <h4 class="join-b col-sm-12">
                    </h4>
                </div>
            </section> -->
            <section id="media" class="col-sm-12 box">
                <div class="media-box easy-in-box">
                    <h3 class="">媒体报道</h3>
                    <span class="blue-line"></span>
                    <div class="media-body">
                        <a class="media-cell-top" href="https://www.pencilnews.cn/p/16684.html" target="_blank">
                            <div class="media-cell-top-img">
                            </div>
                            <div class="media-cell-top-title">
                                <span class="header">人工智能时代</span>
                                <span class="body">AI导购如何重塑电商营销新格局</span>
                            </div>
                        </a>
                        <div class="media-cell-box">
                            <div class="slider autoplay_media">
                                <a class="media-cell" href="http://enapp.chinadaily.com.cn/a/201806/28/AP5b3493dea31022c1bf701d83.html?from=groupmessage&isappinstalled=0"
                                    target="_blank">
                                    <div class="img-box img-box-3">

                                    </div>
                                    <div class="dsc-box">
                                        Chinadaily：Making customer service smarter with AI-powered e-commerce chatbot
                                    </div>
                                </a>
                                <a class="media-cell" href="http://www.xinhuanet.com/tech/2018-06/29/c_1123055723.htm?from=groupmessage&isappinstalled=0"
                                    target="_blank">
                                    <div class="img-box img-box-4">

                                    </div>
                                    <div class="dsc-box">
                                        新华网科技：赋能新零售 智能一点发布AI导购机器人
                                    </div>
                                </a>
                                <a class="media-cell" href="https://view.inews.qq.com/a/20180629A1LBFH00?uid=&chlid=_qqnews_custom_search&from=groupmessage&isappinstalled=0"
                                    target="_blank">
                                    <div class="img-box img-box-5">

                                    </div>
                                    <div class="dsc-box">
                                        AI财经社：机器人导购答非所问？这家创业公司产品准确率达97%
                                    </div>
                                </a>
                                <a class="media-cell" href="https://mp.weixin.qq.com/s?__biz=MzU4MDA1MzEzMQ==&mid=2247483915&idx=1&sn=2d6033021d16e2ff5615b4e917f9a7bd&chksm=fd5df3efca2a7af97598b76516109909b866f3fa0bb06e934c02a2227460e06e0c67bc120e2f#rd"
                                    target="_blank">
                                    <div class="img-box img-box-6">

                                    </div>
                                    <div class="dsc-box">
                                        智能一点入选创投加速器界的“哈佛”
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="connection" class="col-sm-12 box">
                <div class="connection-body">
                    <h3 class="title">联系我们</h3>
                    <h5 class="sub_title">解决方案咨询、申请试用、询价订购……  24 小时内我们安排资深顾问与您联系。</h5>
                    <div class="input_succ_alert display_none">您好，您已提交成功！</div>
                    <textarea placeholder="您有什么想要反馈的？" class="feedback" cols="30" rows="6"></textarea>
                    <div class="input">
                        <input class="first-input email" placeholder="您的电话" type="text">
                        <input class="last-input address" placeholder="您的邮箱" type="text">
                        <span class="submit">提交</span>
                    </div>
                    <div class="map-title">公司地址: 北京时代网络大厦 北京海淀区海淀南路19号3层3002</div>
                    <div class="map-title">联系电话：010-62544703</div>
                    <div class="map"></div>
                </div>
            </section>
        </div>
    </div>
    <div class="g-ft container-fluid ">
        <div class="ft-body">
            <div class="conect-logo col-sm-3"></div>
            <div class="code-intro col-sm-3">
                <ul class="col-sm-7 col-sm-offset-3">
                    <li class="">
                        <a href="#product" class="topLink">智能产品</a>
                    </li>
                    <li>
                        <a href="#team" class="topLink">团队介绍</a>
                    </li>
                    <li>
                        <a href="#touch-ai" class="topLink">Touch AI 人才计划</a>
                    </li>
                    <li>
                        <a href="#media" class="topLink">媒体报道</a>
                    </li>
                    <li>
                        <a href="#connection" class="topLink">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="connect-intro col-sm-2">
                <div class="connect-intro-title">人工智能解决方案</div>
                <div>info@abitai.com</div>
            </div>
            <div class="connect-media col-sm-2">
                <div class="connect-intro-title">媒体合作</div>
                <div>Media@abitai.com</div>
            </div>
            <div class="code col-sm-2">
                <span>"7x24h智能客服" </span>
            </div>
        </div>
    </div>
    <div class="hr-btm">
        北京智能一点科技有限公司保留所有权利 京ICP备17070834号-1
    </div>
</body>


</html>